<header>
  <div class="ContainerHeader ContainerGrid">
    <h1>VitaHealth</h1>
  </div>
</header>
<main>
  <section class="ContainerLogin ContainerGrid">
    <h2>Login</h2>
    <!-- Formulario para a requisicao de login -->
    <form #FormLogin (submit)="Logar($event)" class="FormLogin">
      <!-- Input para a definicao dinamica dos valores de email -->
      <input required #InputEmail [value]="emailValue" [ngStyle]="{'border-color': falhouLogin ? 'red' : 'darkseagreen'}" (change)="AlterarEmail(InputEmail.value)" class="InputLogin" placeholder="Email" type="email"/>
      <!-- Input para definicao dinamica dos valores de senha -->
      <input required #InputSenha [value]="senhaValue" [ngStyle]="{'border-color': falhouLogin ? 'red' : 'darkseagreen'}"  (change)="AlterarSenha(InputSenha.value)" class="InputLogin" placeholder="Senha" type="password"/>
      <!-- Botao para o envio do formulario -->
      <button type="submit" class="BtnLogin">Entrar</button>
    </form>
  </section>
</main>
<footer>
  <div class="ContainerFooter ContainerGrid">
    <h1>VitaHealth</h1>
  </div>
</footer>